#bienvenida {
    height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./../../../assets/images/docente-portada.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}