<main class="container">
  <section class="row breadcrumb py-2">
    <a class="breadcrumb-item" routerLink="/docentes">Inicio</a>
    <a class="breadcrumb-item" href="#">Detalle Curso</a>
    <a class="breadcrumb-item" href="#">Fichas por Estudiante</a>
    <span class="breadcrumb-item active">Detalle Ficha</span>
  </section>
  <section>
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h4 class="float-left heading h4-responsive mb-0">
          Detalle Ficha <span class="px-2">|</span> {{ estudiante?.tnombreestudiante | titleCase }}
        </h4>
        <!-- <div class="d-flex align-items-center">
          <div class="badge badge-warning font-weight-normal">{{ estudiante?.fichapendientes}} Fichas Pendientes de Revisar
          </div>
        </div> -->
      </div>
      <div class="row justify-content-between">
        <div class="col-md-4 mt-4">
          <p class="mb-4">
            <span class="mr-2 font-weight-bold">Sede: </span>
            <span> {{ data?.sedeTdesc }}</span>
          </p>
        </div>
        <div class="col-md-4 mt-4">
          <p class="mb-4">
            <span class="mr-2 font-weight-bold">Sección: </span>
            <span> {{ data?.seccTdesc }}</span>
          </p>
        </div>
        <div class="col-md-4 mt-4">
          <p class="mb-4">
            <span class="mr-2 font-weight-bold">Cantidad Estudiantes: </span>
            <span> {{ data?.contador }}</span>
          </p>
        </div>
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-header d-flex justify-content-between">
        <h4 class="float-left heading h4-responsive mb-0">Perfil Paciente</h4>
      </div>
      <div class="row mb-1 mt-4">
        <div class="col-md-4">
          <p class="mb-3"><span class="mr-2 font-weight-bold">RUT: </span><span>{{paciente.fspaRut}}</span></p>
          <p class="mb-3"><span class="mr-2 font-weight-bold">Nombre Social: </span><span>{{paciente.fspaNomSocial ||
              'Sin Nombre Social'}}</span></p>
          <p class="mb-3"><span class="mr-2 font-weight-bold">Edad: </span><span>{{paciente.fspaEdad}}</span></p>
          <p class="mb-3"><span class="mr-2 font-weight-bold">Dirección: </span><span>{{paciente.fspaDireccion}}</span>
          </p>
        </div>
        <div class="col-md-4">
          <p class="mb-3"><span class="mr-2 font-weight-bold">Nombre: </span><span>{{paciente.fspaNombre}}</span></p>
          <p class="mb-3"><span class="mr-2 font-weight-bold">Sexo: </span><span>{{paciente.fspaSexo}}</span></p>
          <p class="mb-3"><span class="mr-2 font-weight-bold">Nacionalidad:
            </span><span>{{paciente.fspaNacionalidad}}</span></p>
          <p class="mb-3"><span class="mr-2 font-weight-bold">Previsión: </span><span>{{paciente.fspaPrevision}}</span>
          </p>
        </div>
        <div class="col-md-4">
          <p class="mb-3"><span class="mr-2 font-weight-bold">Apellidos: </span><span>{{paciente.fspaApellido1}}
              {{paciente.fspaApellido2}}</span></p>
          <p class="mb-3"><span class="mr-2 font-weight-bold">Nacimiento: </span><span>{{paciente.fspaFechaNac}}</span>
          </p>
          <p class="mb-3"><span class="mr-2 font-weight-bold">Teléfono: </span><span>{{paciente.fspaTcelular}}</span>
          </p>
        </div>
        <div class="col-12 mt-4">
          
          <div class="card-header d-flex justify-content-between">
            <h4 class="float-left heading h4-responsive mb-0">Ficha Clínica</h4>
          </div>
          
          <app-ficha-detalle #fichaDetalle [ficha]="ficha"></app-ficha-detalle>

          <div class="card-footer">
            <div class="row">
              <div class="col-12 d-flex justify-content-between">
                <div class="md-form">
                  <button routerLink="/docentes" class="btn btn-outline">
                    <span>Volver a Inicio</span>
                  </button>
                </div>
                <div class="md-form d-flex">
                  <button type="button" class="btn btn-default py-2" (click)="terminarRevision()">Terminar Revisión</button>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>
</main>