<div class="card-header d-flex mt-4 justify-content-between">
  <h4 class="float-left heading h4-responsive mb-0">{{ficha?.descripcion || 'Ficha Clínica'}}</h4>
</div>
<form [formGroup]="form">
  <div #acc="ngbAccordion" ngbAccordion class="md-accordion mt-4" [closeOthers]="true">
    <ng-container *ngFor="let grupo of ficha?.grupos">
      <div [ngbAccordionItem]="'grupo_' + grupo?.id_grupo" [collapsed]="false" [destroyOnHide]="false" (shown)="onGroupShow(grupo)" (hidden)="onGroupHidden(grupo)">
        <h2 ngbAccordionHeader class="grey lighten-3">
          <button ngbAccordionButton>
            <h5 class="mb-0 pl-3 pr-3">
              <span>{{ grupo?.nombre }}</span>
              <span class="accordion-arrow">
                <i class="material-icons rotate-icon float-right">keyboard_arrow_up</i>
              </span>
            </h5>
          </button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody class="p-3">
            <ng-template>
              <div #contenedorGrupo [innerHTML]="grupo._safeHtml"></div>
              <div class="row mb-4">
                <div class="col-12 d-flex justify-content-between align-items-center px-0">
                  <button type="button" (click)="prevTap(acc)" [disabled]="grupo.id_grupo === ficha.grupos[0].id_grupo"
                    class="btn btn-sgte font-weight-bold collapsed px-1">
                    &lt;&lt; Anterior
                  </button>
                  <button type="button" (click)="nextTap(acc)"
                    class="btn btn-sgte font-weight-bold collapsed px-1">
                    Siguiente &gt;&gt;
                  </button>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</form>