<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Ficha Electr&oacute;nica de Salud</title>
    <link rel="shortcut icon" href="https://digital.inacap.cl/template-aplicaciones/img/favicon.ico" />
    <link rel="stylesheet" href="https://digital.inacap.cl/template-aplicaciones/css/mdb.min.css" />
    <!-- <link rel="stylesheet" type="text/css" href="estilosApp.css"> -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-W2S6S5E0W5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-W2S6S5E0W5");
    </script>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            if (localStorage.getItem('showOnlyResultados') === 'true' || window.location.hash === '#resultados') {
                document.getElementById('resultados').style.display = 'block';
                document.getElementById('bienvenida').style.display = 'none';
                // Clear the flag after using it
                localStorage.removeItem('showOnlyResultados');
            }
        });
    </script>

</head>

<body id="appBody" class="d-flex flex-column">
    <div class="page-content">
        <div class="navbar-overlay"></div>
        <main class="py-0" id="main">
            <section>
                <div class="container" id="resultados">
                    <div class="container">
                        <section class="row breadcrumb mt-3 py-2">
                            <span class="breadcrumb-item home active">Inicio</span>
                            <span class="breadcrumb-item r-busqueda" style="display: none;">Resultados de
                                B&uacute;squeda</span>
                        </section>

                        <div class="row">
                            <div class="col-12 mb-4 px-0">
                                <div id="filtros" class="d-flex justify-content-start">
                                    <div class="filter-button px-4 p-2 d-flex flex-row mr-4">
                                        <label for="filtro-curso">Filtrar por Curso:</label>

                                        <select name="filtro-curso" id="filtro-curso" class="filtr d-flex"
                                            [(ngModel)]="selectedCursoId" (ngModelChange)="onCursosChange($event)">
                                            <option [value]="0" disabled selected>Seleccione un curso</option>
                                            <option *ngFor="let cursos of listacursos" [value]="cursos.SECC_CCOD">
                                                {{ cursos.TIFI_TDESC }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="card" id="detalle">
                        <div class="card-header d-flex justify-content-between">
                            <h4 id="titleEB" style="display: none;" class="float-left heading h4-responsive mb-0">
                                Asignar Ficha <span class="mx-2">|</span> Enfermer&iacute;a B&aacute;sica</h4>
                            <h4 id="titleSB" style="display: none;" class="float-left heading h4-responsive mb-0">
                                Asignar Ficha <span class="mx-2">|</span> Salud Digital</h4>
                            <h4 id="titleMQ" style="display: none;" class="float-left heading h4-responsive mb-0">
                                Asignar Ficha <span class="mx-2">|</span> M&eacute;dico Quir&uacute;rgico</h4>
                            <h4 id="titlePP" style="display: none;" class="float-left heading h4-responsive mb-0">
                                Asignar Ficha <span class="mx-2">|</span> Pr&aacute;ctica Profesional</h4>
                        </div>

                        <div class="row mb-1 mt-4">
                            <div class="col-md-4 mt-3">
                                <p class="mb-3">
                                    <span class="mr-2 font-weight-bold">Sede: </span>
                                    <span>{{sedeDesc}} </span>
                                </p>
                            </div>
                            <div class="col-md-4 mt-3">
                                <p class="mb-3">
                                    <span class="mr-2 font-weight-bold">Secci&oacute;n: </span>
                                    <span>{{seccion}} </span>
                                </p>
                            </div>
                            <div class="col-md-4 mt-3">
                                <p class="mb-3">
                                    <span class="mr-2 font-weight-bold">Docente: </span>
                                    <span>{{nombredocente}} </span>
                                </p>
                            </div>
                            <div class="col-md-4 mt-3">
                                <p class="mb-3">
                                    <span class="mr-2 font-weight-bold">Fichas Completadas: </span>
                                    <span>{{cantidadfichascompletadas}} </span>
                                </p>
                            </div>
                        </div>

                    </div>

                    <section id="detalleComentarios" class="mt-4 mb-5">
                        <div class="card" id="detalle">
                            <div class="card-header d-flex justify-content-between align-items-center">

                                <h4 class="float-left heading h4-responsive mb-0">Fichas del Curso</h4>
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-warning font-weight-normal mr-3">3 Fichas Pendientes de
                                        Completar</div>
                                    <div class="badge badge-info font-weight-normal">1 Ficha en Proceso de Completar
                                    </div>
                                </div>
                            </div>

                            <!-- Tabla Enfermeria -->
                            <div id="EBtable" class="row mb-4">
                                <div class="col-12">
                                    <table appDataTable [data]="tableroestudiante" id="TablaReporteFixedColumn"
                                        class="datatables tabla-reporte-fixed-column table-bordered table-striped mb-0">
                                        <thead class="">
                                            <tr>
                                                <th valign="top"
                                                    class="text-capitalize py-2 pl-2 tabla-sticky tabla-sticky-first">
                                                    Acciones</th>
                                                <th valign="top" class="text-capitalize py-2 pl-2">Estado</th>
                                                <th valign="top" class="text-capitalize py-2 pl-2">Nombre Paciente</th>
                                                <th valign="top" class="text-capitalize py-2 pl-2">RUT</th>
                                                <th valign="top" class="text-capitalize py-2 pl-2">Fecha Nacimiento</th>
                                                <th valign="top" class="text-capitalize py-2 pl-2">Fecha de la Ficha
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of tableroestudiante">
                                                <td class="text-nowrap p-3 tabla-sticky tabla-sticky-first">
                                                    <div class="d-flex justify-content-start">
                                                        <button button type="button" (click)="verDetalleEstudiante(item.PERS_NCORR, item.SECC_CCOD)"
                                                            class="btn-ver-relacionamiento mr-0 d-flex align-items-center float-left">
                                                            <i class="material-icons mr-1 icon-lg grey-text"
                                                                data-toggle="tooltip" data-placement="bottom" title=""
                                                                data-original-title="Editar Ficha">edit</i>
                                                        </button>
                                                    </div>
                                                </td>
                                                <td class="text-nowrap p-3"><span class="warning-text">{{item.EFIS_TDESC}}</span></td>
                                                <td class="text-nowrap p-3">{{item.NOMBREPACIENTE}}</td>
                                                <td class="text-nowrap p-3">{{item.FSPA_RUT}}</td>
                                                <td class="text-nowrap p-3">{{item.FSPA_FECHA_NAC}}</td>
                                                <td class="text-nowrap p-3">{{item.FECHA_FICHA}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- / Tabla Enfermeria -->




                        </div>
                    </section>











                </div>

            </section>




        </main>
    </div>


    <!-- Loading Overlay -->
    <div class="loading-backdrop" id="loadingOverlay">
        <div class="loading-circle">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-white-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal  Filtrar -->
    <div class="modal fade" id="ModalFiltrarTabla" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog sm modal-notify " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="heading lead">Filtrar Tabla</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body px-0">
                    <div class="row modal-filters-content">

                        <div class="col-12 col-md-6">
                            <div class="md-form my-3">
                                <select class="mdb-select">
                                    <option value="" disabled selected>Seleccionar Filtro1</option>
                                    <option value="1">Opci&oacute;n 1</option>
                                    <option value="2">Opci&oacute;n 2</option>
                                    <option value="3">Opci&oacute;n 3</option>
                                </select>
                                <label>Filtro 1</label>
                            </div>
                        </div>




                        <div class="col-12 col-md-6">
                            <div class="md-form my-3">
                                <select class="mdb-select">
                                    <option value="" disabled selected>Seleccionar Filtro2</option>
                                    <option value="1">Opci&oacute;n 1</option>
                                    <option value="2">Opci&oacute;n 2</option>
                                    <option value="3">Opci&oacute;n 3</option>
                                </select>
                                <label>Filtro 2</label>
                            </div>
                        </div>



                        <div class="col-12 col-md-6">
                            <div class="md-form my-3">
                                <select class="mdb-select">
                                    <option value="" disabled selected>Seleccionar Filtro3</option>
                                    <option value="1">Opci&oacute;n 1</option>
                                    <option value="2">Opci&oacute;n 2</option>
                                    <option value="3">Opci&oacute;n 3</option>
                                </select>
                                <label>Filtro 3</label>
                            </div>
                        </div>



                        <div class="col-12 col-md-6">

                            <div class="md-form my-3">
                                <select class="mdb-select">
                                    <option value="" disabled selected>Seleccionar Filtro4</option>
                                    <option value="1">Opci&oacute;n 1</option>
                                    <option value="2">Opci&oacute;n 2</option>
                                    <option value="3">Opci&oacute;n 3</option>
                                </select>
                                <label>Filtro 4</label>
                            </div>

                        </div>


                    </div>
                </div>
                <div class="modal-footer px-0 d-flex justify-content-between flex-wrap">

                    <button id="clearFiltersBtn" type="button" class="btn btn-link px-0 d-flex align-items-center">
                        <span class="material-icons mr-1">
                            close
                        </span>
                        Limpiar Filtros
                    </button>
                    <div class="d-flex flex-wrap">
                        <a class="btn btn-secondary waves-effect waves-light" data-dismiss="modal">Cerrar</a>
                        <a class="btn btn-default waves-effect waves-light" data-dismiss="modal"
                            onclick="showLoading();">Aplicar Filtros</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / Modal Filtrar -->

    <!-- SCRIPTS -->
    <script src="https://digital.inacap.cl/template-aplicaciones/js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://digital.inacap.cl/template-aplicaciones/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://digital.inacap.cl/template-aplicaciones/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://digital.inacap.cl/template-aplicaciones/js/mdb.min.js"></script>

    <script type="text/javascript" src="https://digital.inacap.cl/template-aplicaciones/js/chosen.jquery.js"></script>

    <script type="text/javascript" src="https://digital.inacap.cl/template-aplicaciones/js/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>
    <script src="https://digital.inacap.cl/template-aplicaciones/js/datepicker.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

    <!-- MDB core JavaScript -->

    <script src="https://digital.inacap.cl/template-aplicaciones/js/campos-requeridos.js"></script>


    <script type="text/javascript" src="configuraciones.js"></script>
    <script src="table.js"></script>

    <!-- Script para gestionar la selección del curso -->
    <script>
        function seleccionarCurso(codigoCurso) {
            try {
                localStorage.setItem('cursoSeleccionado', codigoCurso);
                console.log('Curso seleccionado:', codigoCurso);
            } catch (e) {
                console.log('No se pudo guardar en localStorage:', e);
            }
            // Navegamos a la página de ficha revisada
            window.location.href = 'asignar-ficha-revisada.html';
        }

        // Función para detectar automáticamente la tabla y navegar
        function verDetalleFicha(elemento) {
            // Encontrar la tabla padre más cercana
            let tablaPadre = elemento.closest('[id$="table"]');
            let codigoCurso = 'EB'; // Valor por defecto

            if (tablaPadre) {
                let idTabla = tablaPadre.id;

                // Mapear IDs de tabla a códigos de curso
                switch (idTabla) {
                    case 'EBtable':
                        codigoCurso = 'EB';
                        break;
                    case 'SDtable':
                        codigoCurso = 'SD';
                        break;
                    case 'MDtable':
                        codigoCurso = 'MQ';
                        break;
                    case 'PPtable':
                        codigoCurso = 'PP';
                        break;
                }
            }

            try {
                localStorage.setItem('cursoSeleccionado', codigoCurso);
                console.log('Curso seleccionado desde tabla:', codigoCurso, 'Tabla:', tablaPadre ? tablaPadre.id : 'no detectada');
            } catch (e) {
                console.log('No se pudo guardar en localStorage:', e);
            }

            // Navegamos a la página de ficha revisada
            window.location.href = 'asignar-ficha-revisada.html';
        }

        // Función para detectar automáticamente la tabla y navegar a página específica
        function verDetalleFichaNoRevisada(elemento) {
            // Encontrar la tabla padre más cercana
            let tablaPadre = elemento.closest('[id$="table"]');
            let codigoCurso = 'EB'; // Valor por defecto

            if (tablaPadre) {
                let idTabla = tablaPadre.id;

                // Mapear IDs de tabla a códigos de curso
                switch (idTabla) {
                    case 'EBtable':
                        codigoCurso = 'EB';
                        break;
                    case 'SDtable':
                        codigoCurso = 'SD';
                        break;
                    case 'MDtable':
                        codigoCurso = 'MQ';
                        break;
                    case 'PPtable':
                        codigoCurso = 'PP';
                        break;
                }
            }

            try {
                localStorage.setItem('cursoSeleccionado', codigoCurso);
                console.log('Curso seleccionado desde tabla (no revisada):', codigoCurso, 'Tabla:', tablaPadre ? tablaPadre.id : 'no detectada');
            } catch (e) {
                console.log('No se pudo guardar en localStorage:', e);
            }

            // Navegamos a la página de ficha no revisada
            window.location.href = 'detalle-ficha-no-revisada.html';
        }

        // Cuando se carga la página, agregamos eventos a todos los enlaces "Ver Detalle de Ficha"
        document.addEventListener('DOMContentLoaded', function () {
            // Buscar todos los enlaces que van a asignar-ficha-revisada.html
            let enlacesRevisadas = document.querySelectorAll('a[href="asignar-ficha-revisada.html"]');

            enlacesRevisadas.forEach(function (enlace) {
                // Verificar si es un enlace "Ver Detalle de Ficha" por el icono
                let icono = enlace.querySelector('i[data-original-title="Ver Detalle de Ficha"]');
                if (icono) {
                    // Reemplazar el comportamiento del enlace
                    enlace.removeAttribute('href');
                    enlace.style.cursor = 'pointer';
                    enlace.addEventListener('click', function (e) {
                        e.preventDefault();
                        verDetalleFicha(this);
                    });
                }
            });

            // Buscar todos los enlaces que van a detalle-ficha-no-revisada.html
            let enlacesNoRevisadas = document.querySelectorAll('a[href="detalle-ficha-no-revisada.html"]');

            enlacesNoRevisadas.forEach(function (enlace) {
                // Verificar si es un enlace "Ver Detalle de Ficha" por el icono
                let icono = enlace.querySelector('i[data-original-title="Ver Detalle de Ficha"]');
                if (icono) {
                    // Reemplazar el comportamiento del enlace
                    enlace.removeAttribute('href');
                    enlace.style.cursor = 'pointer';
                    enlace.addEventListener('click', function (e) {
                        e.preventDefault();
                        verDetalleFichaNoRevisada(this);
                    });
                }
            });
        });

        // Función para cambiar estado de badge cuando se edita ficha "En Proceso"
        function cambiarEstadoBadge() {
            // Buscar el badge con "Fichas Pendientes de Completar"
            const badges = document.querySelectorAll('.badge-warning');
            badges.forEach(badge => {
                if (badge.textContent.includes('Fichas Pendientes de Completar')) {
                    // Cambiar clase de badge-warning a badge-info
                    badge.classList.remove('badge-warning');
                    badge.classList.add('badge-info');
                    // Cambiar el texto
                    badge.textContent = badge.textContent.replace('Fichas Pendientes de Completar', 'Fichas en proceso de completar');
                }
            });
        }

        // Función para agregar eventos a enlaces "Editar Ficha" en filas "En Proceso"
        function configurarEnlacesEditarEnProceso() {
            // Buscar todas las filas de las tablas
            const tablaIds = ['EBtable', 'SDtable', 'MDtable', 'PPtable'];

            tablaIds.forEach(tablaId => {
                const tabla = document.getElementById(tablaId);
                if (tabla) {
                    // Buscar todas las filas de la tabla
                    const filas = tabla.querySelectorAll('tbody tr');

                    filas.forEach(fila => {
                        // Verificar si esta fila tiene estado "En Proceso"
                        const estadoCell = fila.querySelector('td .info-text');
                        if (estadoCell && estadoCell.textContent.trim() === 'En Proceso') {
                            // Buscar el enlace "Editar Ficha" en esta fila
                            const enlaceEditar = fila.querySelector('a i[data-original-title="Editar Ficha"]');
                            if (enlaceEditar) {
                                const enlaceContenedor = enlaceEditar.closest('a');
                                if (enlaceContenedor) {
                                    // Agregar event listener al enlace
                                    enlaceContenedor.addEventListener('click', function (e) {
                                        // Guardar información de que viene de "En Proceso"
                                        try {
                                            localStorage.setItem('editandoFichaEnProceso', 'true');
                                        } catch (e) {
                                            console.log('No se pudo guardar estado en localStorage');
                                        }
                                        console.log('Navegando desde ficha En Proceso');
                                    });
                                }
                            }
                        }
                    });
                }
            });
        }

        // Ejecutar la configuración cuando se carga la página
        document.addEventListener('DOMContentLoaded', function () {
            configurarEnlacesEditarEnProceso();
        });
    </script>

</body>

</html>