<div class="header-container">
  <div class="header-logo">
    <a href="https://www.inacap.cl">
      <img src="https://www.inacap.cl/web/template-aplicaciones/img/isotipo.png" alt="INACAP" class="logo-mobile">
      <img #logo src="https://www.inacap.cl/web/template-aplicaciones/img/logo-inacap.png" alt="INACAP" class="logo">
    </a>
  </div>
  <div class="header-title" (click)="titleTap()">
    <h1 id="title">{{ title }}</h1>
  </div>
  <div class="user-info">
    <div class="user-name mr-4">
      <p>{{ userName }}</p>
    </div>
    <div class="user-desktop-icons show">
      <div class="user-accesibility user-button" ngbDropdown>
        <i ngbDropdownToggle class="material-icons ">accessibility</i>
        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
          <p class="dropdown-title">Accesibilidad</p>
          <ul class="accesibility-menu">
            <li class="accesibility-menu__item">
              <div class="d-flex align-items-center justify-content-between" (click)="darkModeTap();">
                <span class="tipo-de-modo">{{ darkModeText }}</span>
                <div class="d-flex justify-content-center">
                  <span>
                    <i class="material-icons">brightness_medium</i>
                  </span>
                </div>
              </div>
            </li>
            <li class="accesibility-menu__item">
              <div class="d-flex align-items-center justify-content-between">
                <span>Tamaño de letra</span>
                <div class="d-flex justify-content-center">
                  <span (click)="decreaseFontSize()" class="btnDecrease btn btn-round btn-fonts btn-secondary d-flex align-items-center justify-content-center waves-effect waves-light">
                    <i class="material-icons">remove</i>
                  </span>
                  <span (click)="increaseFontSize()" class="btnEnlarge btn btn-round btn-fonts btn-default d-flex align-items-center justify-content-center ml-2 mr-0 waves-effect waves-light">
                    <i class="material-icons">add</i>
                  </span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="user-logout user-button" (click)="logoutTap($event)" ngbTooltip="Salir">
        <a href="#">
          <i class="material-icons">exit_to_app</i>
        </a>
      </div>
    </div>
  </div>
</div>