<main class="py-0" id="main">
  <section>
    <div class="container" id="resultados">
      <div class="container position-sticky-inicio">
        <section class="row breadcrumb mt-3 py-2">
          <span class="breadcrumb-item home active">Inicio</span>
          <span class="breadcrumb-item r-busqueda" style="display: none;">Resultados de B&uacute;squeda</span>
        </section>

        <div class="row">
          <div class="col-12 mb-4">
            <div id="filtros" class="d-flex justify-content-start">
              <div class="filter-button px-4 p-2 d-flex flex-row mr-4">
                <label for="filtro-sede">Filtrar por Periodo: :</label>
                <select
                  name="filtro-periodo"
                  id="filtro-periodo"
                  class="filtr d-flex"
                  [(ngModel)]="selectedPeriodoId"
                  (ngModelChange)="onPeriodoChange($event)">
                  <option *ngFor="let periodo of periodos" [value]="periodo.PERI_CCOD">
                    {{ periodo.PERI_TDESC }}
                  </option>
              </select>
              </div>
            </div>
          </div>

          <div class="col mb-4">
            <div class="card card-home">
              <div class="d-flex align-items-center">
                <div class="px-2">
                  <i class="material-icons icon-lg iconSalud icon-4x">group</i>
                </div>

                <div class="px-2">
                  <h4 class="font-weight-bold mb-0 titleNum">{{ totalesEstudiante || 0 }}</h4>
                  <span>Estudiantes totales</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col mb-4">
            <div class="card card-home">
              <div class="d-flex align-items-center">
                <div class="px-2">
                  <i class="material-icons icon-lg iconSalud icon-4x">person_add</i>
                </div>

                <div class="px-2">
                  <h4 class="font-weight-bold mb-0 titleNum">{{ totalatendidos || 0 }}</h4>
                  <span>Personas atendidas</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col mb-4">
            <div class="card card-home">
              <div class="d-flex align-items-center">
                <div class="px-2">
                  <i class="material-icons icon-lg iconSalud icon-4x">task</i>
                </div>

                <div class="px-2">
                  <h4 class="font-weight-bold mb-0 titleNum">{{ tareaspendientes || 0 }}</h4>
                  <span>Tareas pendientes</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col mb-4">
            <div class="card card-home">
              <div class="d-flex align-items-center">
                <div class="px-2">
                  <i class="material-icons icon-lg iconSalud icon-4x">folder</i>
                </div>

                <div class="px-2">
                  <h4 class="font-weight-bold mb-0 titleNum">{{ asignaturasinscritas || 0 }}</h4>
                  <span>Asignaturas inscritas</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



      <section style="overflow: hidden;">
        <div class="row mt-5 py-4">
          <div class="col mb-4" *ngFor="let tdocente of tablerodocente ">
            <div class="card card-home pb-0">
              <div class="card-header">
                <h4 class="h4-responsive font-weight-bold">{{tdocente.ASIG_TDESC}}</h4>
              </div>

              <div class="card-body">
                <p class="mb-2"><span class="font-weight-bold">Sede: </span>{{tdocente.SEDE_TDESC}}</p>
                <p class="mb-2"><span class="font-weight-bold">Secci&oacute;n: </span>{{tdocente.SECC_CCOD}}</p>
                <p class="mb-2"><span class="font-weight-bold">Cantidad Estudiantes: </span>{{tdocente.CANT_ALUMNOS}}</p>
                <div class="w-100 border-bottom my-3"></div>

                <p class="mb-2"><span class="font-weight-bold">Ficha Completadas: </span>{{ getFichaPorSeccion(tdocente.SECC_CCOD)?.FICHAS_COMPLETADAS || 0 }}</p>
                <p class="mb-2"><span class="font-weight-bold">Fichas Revisadas </span>{{ getFichaPorSeccion(tdocente.SECC_CCOD)?.FICHAS_REVISADAS || 0 }}</p>
                <p>
                <div class="badge badge-warning font-weight-normal"> {{
     tdocente.CANT_ALUMNOS - (getFichaPorSeccion(tdocente.SECC_CCOD)?.FICHAS_REVISADAS || 0)
    }} Fichas Pendientes de Revisar</div>
              </div>

              <div class="card-footer pt-2">
                <div class="row align-items-center">
                  <div class="col-12 border-bottom"></div>
                </div>

                <div class="d-flex justify-content-around align-items-center">
                  <div class="w-50 px-2">
                    <button (click)="irListEstudiante(tdocente.SECC_CCOD)" class="btnEditListas btn-footer info-text text-center my-2"
                      type="button">Ver Detalle del Curso</button>
                  </div>
                  <div class="border-right" style="height: 70px;"></div>

                  <div class="w-50 px-4">
                    <button (click)="verfichaasignar(tdocente);" class="btnEditListas btn-footer info-text text-center my-2 px-4"
                      type="button">
                      Asignar <br />
                      Ficha
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

  
      </section>
    </div>
  </section>
</main>