

    <section id="bienvenida">
        <div class="container d-flex justify-content-center">
            <div class="card d-flex justify-content-center align-items-center" id="buscar" style="width: 550px;">
                <!--Card Header-->
                <div class="card-header">
                    <h4 class="heading heading-bienvenida h4-responsive mb-0">&iexcl;Bienvenido a la ficha
                        electr&oacute;nica <br> del &aacute;rea salud INACAP!</h4>
                </div>

                <!--Card Body-->
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 mt-4">
                            <p class="text-left" style="max-width:500px;">
                                Bienvenidos a la Ficha Clínica Electrónica de Salud INACAP
Este espacio ha sido diseñado para apoyar el proceso formativo y clínico de nuestros estudiantes y docentes de la salud, entregando una herramienta moderna, segura y eficiente para la gestión de información clínica.
Aquí encontrarás una plataforma intuitiva que favorece la calidad en el registro, la continuidad del cuidado y la humanización de la atención, contribuyendo al aprendizaje práctico, a la excelencia profesional y al futuro laboral del estudiante.
Los invitamos a utilizar esta herramienta con responsabilidad, ética y compromiso, fortaleciendo así el vínculo entre la formación académica y la atención integral de las personas.
                            </p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12 d-flex justify-content-center">
                            <div class="md-form">
                                <button (click)="irtablerodocente()" id="btnBuscar" type="button"
                                    class="btn btn-default d-flex align-items-center waves-effect waves-light py-2">
                                    Ingresar a la Plataforma <i class="material-icons icon-lg ml-2">arrow_forward</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
