<main class="container mb-4">
  <section class="row breadcrumb py-2">
    <a class="breadcrumb-item" routerLink="/docentes">Inicio</a>
    <span class="breadcrumb-item active detCursoB">Detalle Curso</span>
    <span class="breadcrumb-item detFichasEstb" style="display: none;">Detalle Fichas por Estudiante</span>
  </section>
  <section>
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h4 class="float-left heading h4-responsive mb-0">
          Detalle Curso <span class="px-2">|</span> {{ data?.asigTdesc}}
        </h4>
        <div class="d-flex align-items-center">
          <div class="badge badge-warning font-weight-normal">{{ data?.fichas.pendientes}} Fichas Pendientes de Revisar
          </div>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-md-4 mt-4">
          <p class="mb-4">
            <span class="mr-2 font-weight-bold">Sede: </span>
            <span> {{ data?.sedeTdesc }}</span>
          </p>
        </div>
        <div class="col-md-4 mt-4">
          <p class="mb-4">
            <span class="mr-2 font-weight-bold">Sección: </span>
            <span> {{ data?.seccTdesc }}</span>
          </p>
        </div>
        <div class="col-md-4 mt-4">
          <p class="mb-4">
            <span class="mr-2 font-weight-bold">Cantidad Estudiantes: </span>
            <span> {{ data?.contador }}</span>
          </p>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
              <thead>
                <tr>
                  <th style="width: 75px;" class="text-center">Acciones</th>
                  <th>Nombre<br />Estudiante</th>
                  <th>Correo<br />Estudiante</th>
                  <th>% De<br />Asistencia</th>
                  <th>Promedio<br />Curso</th>
                  <th>Promedio<br />Semestre</th>
                  <th>Cursos<br />Semestre</th>
                  <th>Tipo<br />Estudiante</th>
                  <th>Fichas Pendientes<br />Por Revisar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of estudiantes">
                  <td>
                    <div class="d-flex justify-content-center">
                      <button (click)="fichaEstudiante(item)" type="button"
                        class="btn-clear mr-0 d-flex align-items-center float-left"
                        ngbTooltip="Ver Fichas del estudiante">
                        <i class="material-icons mr-1 icon-lg grey-text">description</i>
                      </button>
                    </div>
                  </td>
                  <td>{{ item.tnombreestudiante | titleCase }}</td>
                  <td>{{ item.persTemailInacap }}</td>
                  <td>{{ item.procAsistencia }}</td>
                  <td>{{ item.promedioCurso }}</td>
                  <td>{{ item.notaSemestre }}</td>
                  <td>{{ item.cursoSemestre }}</td>
                  <td>{{ item.alumTrabajador }}</td>
                  <td>{{ item.fichapendientes }}</td>
                </tr>
                <tr *ngIf="estudiantes && estudiantes.length == 0">
                  <td colspan="9" class="text-center">No hay estudiantes disponibles</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-12 d-flex justify-content-between">
            <a routerLink="/docentes" class="btn btn-outline waves-effect waves-light">
              <span>Volver a inicio</span>
            </a>
            <button (click)="asignarFicha()" class="btn btn-default waves-effect waves-light">
              <span>Asignar Nueva Ficha</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>