.md-accordion.normal-size {
    .accordion-body {
        font-size: 16px;
    }
}

.btn-i {
    color: #666666;
    border: none !important;
    background: white !important;
    box-shadow: none !important;
    border-bottom: 2px solid #666 !important;
    padding-bottom: 10px;
    cursor: pointer;
    padding-left: 0;
    font-size: 15px;
}